body {
    background: url('../images/postBg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.post-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post-heading {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label{
    
}

.add-button, .remove-button {
    cursor: pointer;
    margin-left: 10px;
    color: #007bff;
}

.remove-button {
    color: red;
}

.loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#errorMessage, #successMessage {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#errorMessage {
    color: red;
}

#successMessage {
    color: green;
}